.editrdvform,
th,
td {
    border-collapse: collapse;
}

.editrdvform>th>td {
    padding: 10px;
    text-align: left;
}


/* Style the list */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid;*/
    /*background-color: #f1f1f1;*/
}


/* Float the list items side by side */

ul.tab li {
    float: left;
}


/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    color: rgb(229, 234, 236);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

.button {
    background-color: #466df0;
    border: none;
    color: white;
    padding: 15px 22px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Change background color of links on hover */

ul.tab li a:hover {
    background-color: #323b53;
    border-radius: 12px
}


/* Create an active/current tablink class */

ul.tab li a:focus,
.active {
    background-color: #323b53;
    border-radius: 12px
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #061f30;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}